In [ ]:
import pandas as pd
#import numpy as np
#import matplotlib as mpl
#import seaborn as sb

In [ ]:
df = pd.read_csv("C:/Users/Akshay/Documents/DataScience/ExcelR/Practice_DS/Python/Salaries.csv")
#Excel File
df1 = pd.ExcelFile("C:/Users/Akshay/Documents/DataScience/ExcelR/Tableau/Tableau practice/practice.xlsx")#getting the excel file in object form
df1.sheet_names#Displaying the sheets of excel file which is present
df2 = pd.read_excel("C:/Users/Akshay/Documents/DataScience/ExcelR/Tableau/Tableau practice/practice.xlsx",sheet_name="stuffs",index_col=None,na_values=['NA'])

In [ ]:
#Sample dataframe craeted for testing
result_data = {'name': ['Anu', 'James', 'Ani',
                        'Varun', 'Raj', 'Apu'],
        'score': [98, 80, 49, 85, 49, 92],
        'age': [20, 25, 22, 24, 21, 20],
        'Pass category': ['yes', 'yes', 'no',
                          'yes', 'no', 'yes']}
res = pd.DataFrame(result_data,index=None)
len(res.axes[0])

In [ ]:
df.head()
df.head(10)#df.head(20), df.head(50)

In [ ]:
df.columns#colnames with index

In [ ]:
df.columns[0]#first col name

In [ ]:
df.columns[[2,3,4]]#selecting multimple colnames from the dataframe as it returns with index so ":" operatpor cannot be used

In [ ]:
b= list(df)[3:6]#selecting multimple colnames from the dataframe using list as it returns object
a = list(df)[4]
print("A names --- " ,a , " && B names --- ", b)
#when we give : with index ending index value wil not be displayed in python .issue with ending index

In [ ]:
df.dtypes#gives list of data types of each column
#df['phd'].dtypes
#df[['salary','rank']].dtypes#o/p to combine more values we use [[]] same like c() in R

In [ ]:
df.tail(10)#last 10 rows or records

In [ ]:
df.size# number of elemts in data frame i.e no. of rows * columns

In [ ]:
df.shape#number of rows and colmns

In [ ]:
df.axes#displays no. of rows with index seperate and colmn names

In [ ]:
#Another way to calculate no. of rows and columns
df.ndim
df.axes
rows = len(df.axes[0])
columns = len(df.axes[1])
print("No. of Rows - ", rows , "No. of columns - ", columns)

In [ ]:
df.values# generates the O/P in the array format considering all entries
df['rank'].values# values of first column
#always to axes column we can do by provising colnames or by providing index

In [ ]:
df.ndim#no. of dimensions

In [ ]:
df.iloc[10:20:,0:1]

In [ ]:
df.empty#to check data frame is empty or not
df.count#this is simillar to Shape but this will return only non na values so its always better to use shape to get number of records
df.info#simillar to df.shape and it gives rich info

In [ ]:
df.describe()#gives the detail of median min max, etc of numeric data
# mean and median is having the close value to each other and we can suspect that there might be no outliers as mean get inflated becuase of outliers

In [ ]:
df.max()#gives the max value of each col if categorical data then max occurance value

In [ ]:
df.min()#gives the min value of each col if categorical data then min occurance value

In [ ]:
df.mean()#gives avaerage value of the numeric data

In [ ]:
df.median()

In [ ]:
#df.isnull().sum()#gives the count of isnull in each columns .This is faster func than the below()
#len(df)-df.count()#gives the count of null /na values in each columns .
df.dropna().mode()#displays the mode of the df by dropping na values

In [ ]:
df.discipline.value_counts()#gives the count of the categorical data of the column discipline and value_counts is the func to get the count of the unique data present in the column
df['rank'].value_counts()#another way to describe as above for fetching the column

In [ ]:
df.describe()

In [ ]:
dev = df.std()#std deviation
vari = df.var()#variance
print("Std deviation of thr data set is ", dev , " and variance is ", vari)

In [ ]:
df_50=df.head(50)
df_50

In [ ]:
df_50.mean()

In [ ]:
df.head(50).mean()

In [ ]:
#Selecting a column
df.salary

In [ ]:
df['salary']

In [ ]:
df[['salary','phd']]

In [ ]:
df.columns

Calculate the basic statistics for the Phd column;

Find how many values in the Phd column (use count method);

Calculate the average Phd;

In [ ]:
df.phd.describe()#particular column summary

In [ ]:
df.phd.count()#count of rows of a particular column
#df.phd.size#another way to call

In [ ]:
df.phd.mean()#mean of particular column

In [ ]:
#df.groupby(['rank']).mean()#grouping of all category of tht column and calculating the mean
df.groupby(['discipline','rank']).mean()

In [ ]:
df.groupby('rank')[['salary','phd']].mean()#frst gropby based on the rank and get the mean of the selected column

In [ ]:
grouped=df.groupby('rank')

In [ ]:
type(grouped)#type func is mainly used to return the class type of the obj
type(df)
grouped.head()
grouped.groups#viewing the groups after grouping and the o/p is the index func

In [ ]:
df[df.salary>120000]

In [ ]:
df[(df.sex=='Female') & (df.service > 10)]#logical and operation
df[(df.sex=='Female') | (df.service > 10)]#logical and operation

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.iloc[1:4, 0:3]

In [ ]:
df.iloc[0:7]

In [ ]:
df.iloc[:,0:2]

In [ ]:
df.iloc[1:3,0:2]

In [ ]:
df.iloc[[1,5],[1,3]]

In [ ]:
df.iloc[0:10,0:3]
#df.iloc[:,]#this is mandatory for rows to put :

In [ ]:
df.iloc[0:2,]

In [ ]:
df.iloc[:,4]

In [ ]:
list(df)#displays the coumns names

In [ ]:
df.salary.describe()

In [ ]:
df.std()

In [ ]:
df.head(50).mean()

In [ ]:
df.phd.describe()

In [ ]:
#len(df.phd)
df.phd.count()

In [ ]:
df.phd.mean()

In [ ]:
df.sample(30)#gets the random sample of the data from the data frame

In [ ]:
df.iloc[0]#by default if no commo is given then rows are displayed in this it is frst row

In [ ]:
df.iloc[10]

In [ ]:
df.iloc[-1]#last index value -1 is the last column

In [ ]:
df.iloc[:,-1]

In [ ]:
df.iloc[0,-1]#0th row and last column value

In [ ]:
df.iloc[:,-0]

In [ ]:
df.groupby(['discipline'])[['phd','service']].mean()
df.iloc[:,]

In [297]:
df.groupby(['discipline'])[['phd','salary']].agg(['mean','median','min','max','mad','count','prod','var','std'])#aggregate func

                  phd                                                \
                 mean median min max        mad count          prod
discipline
A           21.527778   21.5   2  51  10.638889    36  4.029040e+43
B           18.142857   17.0   1  56   8.931973    42  1.212941e+48

                                          salary                         \
                   var        std           mean  median    min     max
discipline
A           168.256349  12.971367   98331.111111   93675  57800  155865
B           144.320557  12.013349  116331.785714  110581  71065  186960


                     mad count           prod           var           std
discipline
A           21399.561728    36  1.645624e+179  6.760096e+08  26000.183807
B           23057.346939    42  1.781131e+212  7.731582e+08  27805.722287

In [298]:
df[['phd','service']].agg(['prod','max'])

      phd  service
prod    0        0
max    56       51

In [294]:
df.phd[[]].prod(axis=0)#he prod() function is used to get the product of the values for the requested axis.

1