In [28]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [29]:
glaxo = pd.read_csv('/Users/Akshay/Documents/DataScience/ExcelR/Practice_DS/Python/ConfidenceInterval/glaxo_df.csv')
bmel = pd.read_csv('/Users/Akshay/Documents/DataScience/ExcelR/Practice_DS/Python/ConfidenceInterval/beml_df.csv')

In [30]:
glaxo.head(5)

         Date      Date.1    Close      gain
0  2010-01-05  2010-01-05  1616.80 -0.005444
1  2010-01-06  2010-01-06  1638.50  0.013422
2  2010-01-07  2010-01-07  1648.70  0.006225
3  2010-01-08  2010-01-08  1639.80 -0.005398
4  2010-01-11  2010-01-11  1629.45 -0.006312

In [31]:
bmel.head(5)

         Date      Date.1    Close      gain
0  2010-01-05  2010-01-05  1134.60 -0.000881
1  2010-01-06  2010-01-06  1139.60  0.004407
2  2010-01-07  2010-01-07  1144.15  0.003993
3  2010-01-08  2010-01-08  1144.05 -0.000087
4  2010-01-11  2010-01-11  1137.00 -0.006162

In [32]:
print('Rows and columns of Glaxo \n', glaxo.shape)
print('Columns name datatype Glaxo \n',glaxo.dtypes)
print('Rows and columns of Bmel \n', bmel.shape)
print('Columns name datatype Bmel',bmel.dtypes)

Rows and columns of Glaxo
 (1738, 4)
Columns name datatype Glaxo
 Date       object
Date.1     object
Close     float64
gain      float64
dtype: object
Rows and columns of Bmel
 (1738, 4)
Columns name datatype Bmel Date       object
Date.1     object
Close     float64
gain      float64
dtype: object

In [33]:
#Example for the alumini credit card
st.norm.ppf(.975)#to calculate the z value of a given confidence say 95%(.975)

1.959963984540054

In [34]:
#Example for the alumini credit card
st.t.ppf(.975,139)#to calculate the t distribution value of a given confidence say 95% and df = n-1 140-1

1.977177724476122

In [35]:
bmel.describe()

             Close         gain
count  1738.000000  1738.000000
mean    698.183688     0.000271
std     357.378754     0.026431
min     129.150000    -0.133940
25%     370.650000    -0.013736
50%     682.100000    -0.001541
75%    1010.350000     0.011985
max    1558.500000     0.198329

In [36]:
glaxo.describe()

             Close         gain
count  1738.000000  1738.000000
mean   2533.153596     0.000386
std     540.441532     0.013361
min    1514.300000    -0.074719
25%    2096.987500    -0.005850
50%    2365.700000    -0.000021
75%    3010.562500     0.005826
max    3814.750000     0.189196

In [37]:
#Calculate 95% of confidence interval of the gain mean 
glaxo_ci = st.norm.interval(.95,loc=glaxo.gain.mean(),scale=glaxo.gain.std())
print( 'Gain at 95% confidence interval is:', np.round(glaxo_ci, 4))
#Interpretation: glaxo gain mean value with 95%confidence may fall in the interval range [-0.0258  0.0266]

Gain at 95% confidence interval is: [-0.0258  0.0266]

In [38]:
#Calculate 95% of confidence interval of the gain mean
bmel_ci = st.norm.interval(.95,loc=bmel.gain.mean(),scale=bmel.gain.std())
print('Gain at 95% of confidence interval is', np.round(bmel_ci,4))
#Interpretation: Bmel gain mean value with 95% confidence may fall in the interval range[-0.0515  0.0521]

Gain at 95% of confidence interval is [-0.0515  0.0521]